<div class="menu">
  <div id='cssmenu'>
    <ul>
      <li class='active'><a href='index.html'><span>Ana Sayfa</span></a></li>
      <li><a href='#'><span>Hastanemiz</span></a></li>
      <li><a href='#'><span>Bölümler</span></a></li>
      <li><a href='#'><span>Tanı Üniteleri</span></a></li>
      <li><a href='#'><span>Doktorlarımız</span></a></li>
      <li><a href='#'><span>Anlaşmalı Kurumlar</span></a></li>
      <li><a href='#'><span>Foto Galeri</span></a></li>
      <li class='last'><a href='#'><span>İletişim</span></a></li>
    </ul>
  </div>
</div>